# Windows
bin
obj
TestResults
*.suo
Thumbs.db

# Mac
mac/ColorClock/ColorClock.xcodeproj/project.xcworkspace/xcuserdata
mac/ColorClock/ColorClock.xcodeproj/xcuserdata
.DS_Store
*.o

# General
*.swp
*~
